<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to form of crete users</h1>
    <form action="/api/users/v1/page/admin/create-users" method="post">
        <%- include('../partials/form')%>
    </form>
</body>
</html>